.App {
  text-align: center;
}

body {
  background-image: url("../public/registerBackground.jpeg");
  background-size: cover; 
  background-repeat: no-repeat; 
}

#registerContainer {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 400px;
  padding: 35px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

#registerContainer label {
  text-align: left;
  padding-right: 5px;
  display: inline-block;
  min-width: 150px;
  margin-bottom: 10px;
}

#registerButton {
  margin-top: 15px;
}